.wrapper{
    margin: 0;
    padding: 0;
    
    
    .background_box{
        top: 0;
        height: 25vh;
        background: linear-gradient(0.25turn, rgba(146, 32, 246, 0.4), rgba(55, 78, 250, 0.4)), url(../../Pictures/mountain.jpg);
        background-position: center;
        background-size: cover;
    }

    .list_box{
        position: relative;
        top: -20vh;

        .title{
            max-width: 30%;
            margin: 40px auto;
            text-transform: uppercase;
            letter-spacing: 10px;            
            color: white;
        }

        .draganddrop_info{
            margin-top: 40px;
            color: var(--LightGrey);
            text-align: center;
            font-weight: 600;
        }

    }
    
    
}

@media only screen and (min-width: 1024px) and (max-width: 1510px) {
    .wrapper{
        .list_box{  
            .title{
                max-width: 50%;
            }
        }    
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper{
        .list_box{  
            .title{
                max-width: 70%;
            }
        }    
    }
}

@media only screen and (max-width: 768px) {
    .wrapper{
        .list_box{  
            .title{
                max-width: 90%;
            }
        }    
    }
}
