.wrapper{
    max-width: 30%;
    margin: 0 auto;

    .wrapper_list{
        

        .list_input{
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 30px;
            
            .list_checkbox{
                display: inline-block;
                color: var(--DarkGrey);
            }
        
            input{
                display: inline-block;
                padding: 12px;
                border: none;  
                font-size: 14px;  
                font-weight: 600;           
            }
            
            input:focus{
                outline: none;
            }
        }

        .list_output{
            background-color: white;
            border-radius: 5px;
            box-shadow: 10px 12px 15px 1px rgba(199, 199, 199, .3);
            font-weight: 600; 

            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                

                li>div{
                    display: inline-block;
                }

                li{
                    cursor: pointer;
                    padding: 10px;
                    margin-bottom: 5px;
                    border-bottom: solid 1px var(--LightGrey);

                    .output_checkbox{
                        color: var(--LightGrey);
                    }

                    .todo{
                        padding: 12px;
                    }
                }

                li.done{
                    .todo{
                        text-decoration: line-through;
                        color: var(--LightGrey);
                    }

                    .output_checkbox{
                        // background: -webkit-linear-gradient(#9220F6, #374EFA);
                        // -webkit-background-clip: text;
                        // -webkit-text-fill-color: transparent;          
                    }
                }
            }

            .user_controll{
                position: relative;
                text-align: center;

                div{
                    display: inline-block;  
                    margin: 5px;
                    padding: 10px;
                }

                :first-child{
                    position: absolute;
                    left: 0;
                }

                :last-child{
                    position: absolute;
                    right: 0;
                }

                .button{
                    cursor: pointer; 
                }

                .button:hover{
                    color: var(--Blue);
                }
            }
        }
    }
}